@import "./core/vars";
@import "./core/mixins";

.contact {
  width: 100%;

  @include tablet {
    padding: 0 50px;
  }

  @include desktop {
    padding: 0 100px;
  }

  &__title {
    font-family: $fontFamilyTitle;
    color: var(--theme-color-primary);
    transition: color 750ms;
    font-size: 22px;
    letter-spacing: 0.5px;
    padding: 55px 0;
    text-align: center;

    @include tablet {
      padding-bottom: 100px;
    }
  }

  &__text {
    font-family: $fontFamilyText;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 80px;
    text-align: center;

    @include tablet {
      padding-bottom: 100px;
    }

    @include desktop {
      padding-bottom: 130px;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 40px;

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      margin-bottom: 60px;
    }

    @include desktop {
      margin-bottom: 100px;
    }

    &-item {
      padding-bottom: 30px;
    }

    &-link {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      color: var(--theme-text);
      transition: color 750ms;
      font-family: $fontFamilyText;

      &:hover {
        color: var(--theme-color-secondary);
        transition: color 100ms;
      }

      &-icon {
        font-size: 40px;
        padding-bottom: 10px;
      }
    }
  }
}

.fa-grin-alt {
  color: var(--theme-text);
}
