@import "./core/vars";
@import "./core/mixins";

.contact {
  width: 100%;

  @include tablet {
    padding: 0 50px;
  }

  @include desktop {
    padding: 0 80px;
  }

  &__title {
    font-family: $fontFamilyTitle;
    color: $colorPrimary;
    font-size: 22px;
    letter-spacing: 0.5px;
    padding: 55px 0;
    text-align: center;
  }

  &__text {
    font-family: $fontFamilyText;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 50px;
    text-align: center;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }

    &-item {
      padding-bottom: 30px;
    }

    &-link {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      color: var(--theme-text);
      font-family: $fontFamilyText;

      &:hover {
        color: $colorSecondary;
      }
      &-icon {
        font-size: 40px;
        padding-bottom: 10px;
      }
    }
  }
}
