@import "./core/vars";
@import "./core/mixins";

.scroll {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid $colorTertiary;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 25px;
  right: 8px;
  animation: scroll 0.5s ease-in;
  @include tablet {
    width: 35px;
    height: 35px;
    right: 15px;
  }

  &__arrow {
    color: var(--theme-color-primary);
    font-size: 12px;

    @include tablet {
      font-size: 15px;
    }
  }
}

@keyframes scroll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
