* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

//Themes
.theme-light {
  --theme-background: #f5f1f1;
  --theme-text: #1c1d25;
  --theme-color-primary: #1c1d25;
  --theme-color-secondary: #484a53;
  --theme-color-tertiary: #93959a;
  --theme-color-title: #93959a;
}

.theme-dark {
  --theme-background: #1c1d25;
  --theme-text: #e7dddd;
  --theme-color-primary: #fdb827;
  --theme-color-secondary: #31aa6d;
  --theme-color-tertiary: #f83360;
  --theme-color-title: #31aa6d;
}

//Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgba(169, 41, 79, 1) 15%,
    rgba(96, 34, 87, 1) 49%
  );
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 177, 202);
}

//Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect (0, 0, 0, 0);
  border: 0;
}
