//Fonts color
$fontFamilyTitle: "Raleway", sans-serif;
$fontFamilyText: "Lato", sans-serif;

//Colors
$colorPrimary: #fdb827;
$colorSecondary: #31aa6d;
$colorTertiary: #f83360;
$colorText: #e7dddd;
