//Fonts color
$fontFamilyTitle: "Anton", sans-serif;
$fontFamilyText: "Lato", sans-serif;

//Colors
$colorPrimary: #fdb827;
$colorSecondary: #31aa6d;
$colorTertiary: #a9294f;
$colorText: #e7dddd;
$colorBorder: #602257;
$colorDark: #1c1d25;
$colorLight: #ececec;
